<div class="container" *ngIf="!currentScanner">
  <h1>上儲位(測試)</h1>
  <div class="content">
    <div class="header-block">
      <span>自動換欄位</span>
      <p-inputSwitch [(ngModel)]="autoSwitchField"></p-inputSwitch>
    </div>
    <form [formGroup]="form">
      <div class="block">
        <div class="name">儲位資訊</div>
        <div class="p-inputgroup input-container p-inputtext-lg single-btn">
          <input formControlName="shelf" type="text" pInputText class="input" />
          <button
            type="button"
            pButton
            pRipple
            [icon]="isCameraLoading ? 'pi pi-spin pi-spinner' : 'pi pi-camera'"
            [disabled]="isCameraLoading"
            class="single-btn"
            (click)="onOpenScanner('shelf')"
          ></button>
        </div>
      </div>
      <div class="block" *ngIf="showObjectBlock">
        <div class="name">物件資訊</div>
        <ng-container formArrayName="object">
          <div
            *ngFor="let item of object.controls; let i = index"
            class="p-input-icon-right input-container double-btn"
          >
            <div class="p-inputgroup p-inputtext-lg">
              <input
                [id]="'input-' + i"
                type="text"
                pInputText
                class="input"
                [formControlName]="i"
                (input)="onChangeObjectCode($event, i)"
              />
              <button
                type="button"
                pButton
                pRipple
                [icon]="
                  isCameraLoading ? 'pi pi-spin pi-spinner' : 'pi pi-camera'
                "
                [disabled]="isCameraLoading"
                (click)="onOpenScanner('object', i)"
              ></button>
              <button
                type="button"
                pButton
                pRipple
                icon="pi pi-times"
                class="p-button-secondary"
                [disabled]="object.value.length === 1"
                (click)="onDeleteScanObject(i)"
              ></button>
            </div>
          </div>
        </ng-container>
        <button
          pButton
          pRipple
          type="button"
          label="新增物件"
          class="p-button-outlined p-button-lg"
          (click)="onAddScanObject()"
        ></button>
      </div>
      <button
        *ngIf="showObjectBlock"
        pButton
        pRipple
        type="button"
        label="送出"
        [icon]="isSubmitLoading ? 'pi pi-spin pi-spinner' : ''"
        class="p-button-raised"
        style="width: 100%; margin-bottom: 50px"
        [disabled]="!form.valid || isSubmitLoading"
        (click)="onSubmit()"
      ></button>
    </form>
  </div>
</div>

<scanner-component
  *ngIf="currentScanner"
  (onSelect)="onSelectResult($event)"
  (onClose)="onCloseScanner()"
></scanner-component>

<p-dialog
  header="感謝你的測試"
  [(visible)]="showConfirmDialog"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <p>儲位: {{ form.get("shelf").value }}</p>
  <p *ngFor="let value of object.value; let i = index">
    物件{{ i + 1 }}: {{ value }}
  </p>
</p-dialog>
