<div class="scanner-window">
  <div
    #scannerContainer
    class="scanner-container"
    [hidden]="!(currentDevice$ | async)"
  >
    <video #video autoplay playsinline muted></video>
    <canvas #scanResultCanvas id="scanResultCanvas"></canvas>
    <div #scannerArea class="scanner-area"></div>
  </div>

  <div class="controls">
    <p-selectButton
      [options]="controlOptions"
      (onOptionClick)="onSelectControl($event)"
    >
      <ng-template let-item>
        <div class="select-item">
          <i [ngClass]="item.icon"></i>
          <span>{{ item.name }}</span>
        </div>
      </ng-template>
    </p-selectButton>
  </div>
</div>

<p-toast
  position="bottom-center"
  life="1000"
  [preventOpenDuplicates]="true"
  class="toast"
  styleClass="toast"
>
  <ng-template let-message pTemplate="message">
    <div class="content">
      <div>
        <i class="pi pi-check" style="font-size: 1rem"></i>
        <span style="font-size: 1rem">{{ message.summary }}</span>
      </div>
      <div>
        <p-button
          pRipple
          label="選擇"
          styleClass="p-button-text p-button-sm"
          (onClick)="onSelectResult(message.summary)"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-toast position="bottom-right" key="error"></p-toast>
